<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Leaderboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor='let score of scores'>
            <ion-card class="score" padding>
                <ion-avatar item-start>
                    <img [src]="score.avatar_url"/>
                </ion-avatar>
                <h2>{{ score.nickname }}</h2>
                <h3>
                    {{ score.score }}pts / {{ score.time }}s
                </h3>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
