<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Questions {{score}}pts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngFor='let question of questions'>
        <ion-grid *ngIf="!question.done">
            <ion-row>
                <ion-col col-12>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-12>
                                <p>Question X :</p>
                                <p>{{score}}pts</p>
                                <p>{{question.question}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item *ngIf='question.type === "boolean"'>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-button (click)="goodAnswer(question)" size="medium">{{question.correct_answer}}</ion-button>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-button (click)="badAnswer(question)" size="medium">{{question.incorrect_answers[0]}}</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item *ngIf='question.type !== "boolean"'>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-12>
                                    <ion-button (click)="goodAnswer(question)" size="medium">{{question.correct_answer}}</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-12>
                                    <ion-button (click)="badAnswer(question)" size="medium">{{question.incorrect_answers[0]}}</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-12>
                                    <ion-button (click)="badAnswer(question)" size="medium">{{question.incorrect_answers[1]}}</ion-button>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-12>
                                    <ion-button (click)="badAnswer(question)" size="medium">{{question.incorrect_answers[2]}}</ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>