<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Questions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <p>Question x:</p>
        <p>xx pts</p>
        <span>xx:xx</span>
        <p>XXX</p>
    </ion-item>
    <ion-item no-line>
        <ion-button size="large">Small Button</ion-button>
    </ion-item>
    <ion-item no-line>
        <ion-button size="large">Small Button</ion-button>
    </ion-item>
    <ion-item no-line>
        <ion-button size="large">Small Button</ion-button>
    </ion-item>
    <ion-item no-line>
        <ion-button size="large">Small Button</ion-button>
    </ion-item>
</ion-content>
