<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Answers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #good align="center"  >

    <div style="background-color:#91DC5A;font-size:80px;color:white;">
        <div align="left" style="font-size:15px;padding-top: 10px;padding-left: 10px"><b>Question "1"</b></div>
        <div align="center" style="padding-bottom:25px"><b>+ 5</b></div>
    </div>

    <div align="center" style="font-size:35px;padding-top:20px; padding-bottom:30px">
        <div><b>Good answer!</b></div>
        <div style="font-size: 25px"><b>Well done !</b></div>
    </div>

    <ion-button large>Next</ion-button>

</ion-content>

<ion-content #bad align="center"  >

    <div style="background-color:#CC0000;font-size:80px;color:white;">
        <div align="left" style="font-size:15px;padding-top: 10px;padding-left: 10px"><b>Question "1"</b></div>
        <div align="center" style="padding-bottom:25px"><b>+ 5</b></div>
    </div>

    <div align="center" style="font-size:35px;padding-top:20px; padding-bottom:30px">
        <div><b>Wrong answer!</b></div>
        <div style="font-size: 25px"><b>The good answer was : </b></div>
    </div>

    <ion-button large>Next</ion-button>

</ion-content>
