.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  //background-image : url("../../assets/images/multicolor.jpg") no-repeat center center;
}


ion-content.background {
  background-image: url('../../assets/multicolor1.jpg') no-repeat center center;
  --webkit-background-image: url('../../assets/multicolor1.jpg');
}
