<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content  align="center">
    <div class="card-header-home" align="center">
        Trivia Game
    </div>

    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <ion-button color="success" large (click)="easyQuestions()">Easy</ion-button>
            </ion-col>
            <ion-col col-6>
                <ion-button color="warning" large>Medium</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>
                <ion-button color="danger" large>Hard</ion-button>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label fixed>Username</ion-label>
                    <ion-input type="text" value=""></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
